@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

body{
    font-family: 'Comfortaa', cursive;
}

header {
    padding: 20px 0 20px 0;
    font-size: 20px;
    border-bottom: 2px solid #c0bdbd;
    position: sticky;
    top: 0;
    background-color: white;
}

nav a {
    display: inline-block;
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: black;
    
}

nav a:hover {
    color: #1e6499;
}

.text1 {
    margin-top: 20px;
}

.text1 div {
    text-align: center;
}

.text1 h1, .text1 h2 {
    margin: 15px 0 15px 0;
}

.text1 h2 {
    margin-bottom: 30px;
}