@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,700');

body{
    font-family: 'Comfortaa', cursive;
}

header {
    padding: 20px 0 20px 0;
    font-size: 20px;
    border-bottom: 2px solid #c0bdbd;
    position: sticky;
    top: 0;
    background-color: white;
}

nav a {
    display: inline-block;
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: black;
    
}

a:hover {
    color: #1e6499;
}

.text1 {
    margin-top: 20px;
}

.text1 div, .pict1 section, .t2 div, footer .copy {
    text-align: center;
}

.text1 h1, .text1 h2 {
    margin: 15px 0 15px 0;
}

.text1 h1, .t2 h2 {
    font-family: 'Archivo', sans-serif;
}

.text1 h2 {
    margin-bottom: 30px;
}

.pict1 {
    margin: 100px 60px 100px 60px;
}

.pict1 div {
    display: inline-block;
    margin: -4px -3px;
}

.pict1 button {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    outline: none;
    border: 3px solid #c0bdbd;
    cursor: cell;
    background-color: white;
    line-height: 2;
    padding: 0 30px 0 30px;
    border-radius: 30px;
    margin: 30px 0;
}

.t2 {
    margin: 150px 0 100px 0;
}

.t2 div {
    margin: 60px 0 60px 0;
}

#descr1 {
    padding: 0 15% 0 15%;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

footer {
    margin: 2% 8%;
}

footer section div {
    display: inline-block;
    font-size: 18px;
}

footer .right {
    float: right;
}

.copy {
    margin-top: 30px;
    font-size: 12px;
}

footer span {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

footer img {
    margin-right: 5px;
}