@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,700');
@import url('https://fonts.googleapis.com/css?family=Rouge+Script');

body{
    font-family: 'Comfortaa', cursive;
}

header {
    padding: 12px 0 12px 0;
    font-size: 20px;
    border-bottom: 2px solid #c0bdbd;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

nav a {
    display: inline-block;
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: black;
    
}

a:hover {
    color: #1e6499;
}

.circle {
    text-align: center;
    margin-top: 60px;
}

.circle a {
    text-decoration: none;
}

.circle section {
    opacity: .7;
    width: 150px;
    display: inline-block;
    overflow: hidden;
    margin: 0 30px 0 30px;
}

.circle section:hover {
    opacity: 1;
}

.round {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 25px;
    color: white;
    border-radius: 50%;
    vertical-align: middle;
    display: table-cell;
    
}

.pink {
    background: #da8271;
    
}

.darkpink {
    background: #d84a64;
}

.violet {
    background: #de79c2;
}



.pict1 section {
    text-align: center;
}

.pict1 {
    margin: 60px;
}

.pict1 div {
    display: inline-block;
    margin: 0;
}

.pict1 a {
    opacity: .7;
}

.pict1 a img {
    width: 55px;
}

.pict1 a:hover {
    opacity: 1;
}

.point {
    margin-top: 30px;
}

footer {
    margin: 2% 8% 1% 8%;
    text-align: center;
}

footer section {
    display: inline-block;
    font-size: 18px;
}

footer .copy {
    margin-top: 30px;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a, footer section div {
    margin: 0 20px 0 20px;
    display: inline-block;
}

footer img {
    margin-right: 5px;
    position: relative;
    top: 5px;
    width: 25px;
}