@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,700');
@import url('https://fonts.googleapis.com/css?family=Rouge+Script');

body{
    font-family: 'Comfortaa', cursive;
}

header {
    padding: 12px 0 12px 0;
    font-size: 20px;
    border-bottom: 2px solid #c0bdbd;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

nav a {
    display: inline-block;
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: black;
    
}

a:hover, .contact a:hover {
    color: #1e6499;
}



footer {
    margin: 2% 8% 1% 8%;
    text-align: center;
}

footer section {
    display: inline-block;
    font-size: 18px;
}

footer .copy {
    margin-top: 30px;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a, footer section div {
    margin: 0 20px 0 20px;
    display: inline-block;
}

footer img {
    margin-right: 25px;
    position: relative;
    top: 5px;
    width: 25px;
}

.vin {
    margin-bottom: 80px;
}

.vin section {
    display: inline-block;
}

.contact {
    margin: 60px 120px 60px 120px;
    font-size: 22px;
    width: 400px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact img {
    margin-right: 20px;
    position: relative;
    top: 12px;
    width: 40px;
}

.contact li {
    list-style-type: none;
    margin-bottom: 20px;
}

.map {
    text-align: center;
    margin: 50px 100px;
    float: right;
}

.map img {
    width: 500px;
}


